
@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/JasperIosevka-CondensedThin.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedThin.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/JasperIosevka-Thin.woff2') format('woff2'), url('TTF/JasperIosevka-Thin.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/JasperIosevka-CondensedThinOblique.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	src: url('WOFF2/JasperIosevka-CondensedThinOblique.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/JasperIosevka-ThinOblique.woff2') format('woff2'), url('TTF/JasperIosevka-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web Oblique';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	src: url('WOFF2/JasperIosevka-ThinOblique.woff2') format('woff2'), url('TTF/JasperIosevka-ThinOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/JasperIosevka-CondensedThinItalic.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 100;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/JasperIosevka-ThinItalic.woff2') format('woff2'), url('TTF/JasperIosevka-ThinItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/JasperIosevka-CondensedExtraLight.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/JasperIosevka-ExtraLight.woff2') format('woff2'), url('TTF/JasperIosevka-ExtraLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/JasperIosevka-CondensedExtraLightOblique.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	src: url('WOFF2/JasperIosevka-CondensedExtraLightOblique.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/JasperIosevka-ExtraLightOblique.woff2') format('woff2'), url('TTF/JasperIosevka-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web Oblique';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	src: url('WOFF2/JasperIosevka-ExtraLightOblique.woff2') format('woff2'), url('TTF/JasperIosevka-ExtraLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/JasperIosevka-CondensedExtraLightItalic.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 200;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/JasperIosevka-ExtraLightItalic.woff2') format('woff2'), url('TTF/JasperIosevka-ExtraLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/JasperIosevka-CondensedLight.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedLight.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/JasperIosevka-Light.woff2') format('woff2'), url('TTF/JasperIosevka-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/JasperIosevka-CondensedLightOblique.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	src: url('WOFF2/JasperIosevka-CondensedLightOblique.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedLightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/JasperIosevka-LightOblique.woff2') format('woff2'), url('TTF/JasperIosevka-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web Oblique';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	src: url('WOFF2/JasperIosevka-LightOblique.woff2') format('woff2'), url('TTF/JasperIosevka-LightOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/JasperIosevka-CondensedLightItalic.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedLightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 300;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/JasperIosevka-LightItalic.woff2') format('woff2'), url('TTF/JasperIosevka-LightItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/JasperIosevka-Condensed.woff2') format('woff2'), url('TTF/JasperIosevka-Condensed.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/JasperIosevka-Regular.woff2') format('woff2'), url('TTF/JasperIosevka-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/JasperIosevka-CondensedOblique.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	src: url('WOFF2/JasperIosevka-CondensedOblique.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/JasperIosevka-Oblique.woff2') format('woff2'), url('TTF/JasperIosevka-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web Oblique';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	src: url('WOFF2/JasperIosevka-Oblique.woff2') format('woff2'), url('TTF/JasperIosevka-Oblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/JasperIosevka-CondensedItalic.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/JasperIosevka-Italic.woff2') format('woff2'), url('TTF/JasperIosevka-Italic.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/JasperIosevka-CondensedMedium.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedMedium.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/JasperIosevka-Medium.woff2') format('woff2'), url('TTF/JasperIosevka-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/JasperIosevka-CondensedMediumOblique.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	src: url('WOFF2/JasperIosevka-CondensedMediumOblique.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedMediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/JasperIosevka-MediumOblique.woff2') format('woff2'), url('TTF/JasperIosevka-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web Oblique';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	src: url('WOFF2/JasperIosevka-MediumOblique.woff2') format('woff2'), url('TTF/JasperIosevka-MediumOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/JasperIosevka-CondensedMediumItalic.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedMediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 500;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/JasperIosevka-MediumItalic.woff2') format('woff2'), url('TTF/JasperIosevka-MediumItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/JasperIosevka-CondensedSemiBold.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedSemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/JasperIosevka-SemiBold.woff2') format('woff2'), url('TTF/JasperIosevka-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/JasperIosevka-CondensedSemiBoldOblique.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	src: url('WOFF2/JasperIosevka-CondensedSemiBoldOblique.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedSemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/JasperIosevka-SemiBoldOblique.woff2') format('woff2'), url('TTF/JasperIosevka-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web Oblique';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	src: url('WOFF2/JasperIosevka-SemiBoldOblique.woff2') format('woff2'), url('TTF/JasperIosevka-SemiBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/JasperIosevka-CondensedSemiBoldItalic.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedSemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 600;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/JasperIosevka-SemiBoldItalic.woff2') format('woff2'), url('TTF/JasperIosevka-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/JasperIosevka-CondensedBold.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/JasperIosevka-Bold.woff2') format('woff2'), url('TTF/JasperIosevka-Bold.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/JasperIosevka-CondensedBoldOblique.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	src: url('WOFF2/JasperIosevka-CondensedBoldOblique.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/JasperIosevka-BoldOblique.woff2') format('woff2'), url('TTF/JasperIosevka-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web Oblique';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	src: url('WOFF2/JasperIosevka-BoldOblique.woff2') format('woff2'), url('TTF/JasperIosevka-BoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/JasperIosevka-CondensedBoldItalic.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 700;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/JasperIosevka-BoldItalic.woff2') format('woff2'), url('TTF/JasperIosevka-BoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/JasperIosevka-CondensedExtraBold.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/JasperIosevka-ExtraBold.woff2') format('woff2'), url('TTF/JasperIosevka-ExtraBold.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/JasperIosevka-CondensedExtraBoldOblique.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	src: url('WOFF2/JasperIosevka-CondensedExtraBoldOblique.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/JasperIosevka-ExtraBoldOblique.woff2') format('woff2'), url('TTF/JasperIosevka-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web Oblique';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	src: url('WOFF2/JasperIosevka-ExtraBoldOblique.woff2') format('woff2'), url('TTF/JasperIosevka-ExtraBoldOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/JasperIosevka-CondensedExtraBoldItalic.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 800;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/JasperIosevka-ExtraBoldItalic.woff2') format('woff2'), url('TTF/JasperIosevka-ExtraBoldItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	font-style: normal;
	src: url('WOFF2/JasperIosevka-CondensedHeavy.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedHeavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: normal;
	src: url('WOFF2/JasperIosevka-Heavy.woff2') format('woff2'), url('TTF/JasperIosevka-Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	font-style: oblique;
	src: url('WOFF2/JasperIosevka-CondensedHeavyOblique.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	src: url('WOFF2/JasperIosevka-CondensedHeavyOblique.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedHeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: oblique;
	src: url('WOFF2/JasperIosevka-HeavyOblique.woff2') format('woff2'), url('TTF/JasperIosevka-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web Oblique';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	src: url('WOFF2/JasperIosevka-HeavyOblique.woff2') format('woff2'), url('TTF/JasperIosevka-HeavyOblique.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: condensed;
	font-style: italic;
	src: url('WOFF2/JasperIosevka-CondensedHeavyItalic.woff2') format('woff2'), url('TTF/JasperIosevka-CondensedHeavyItalic.ttf') format('truetype');
}

@font-face {
	font-family: 'Jasper Iosevka Web';
	font-display: swap;
	font-weight: 900;
	font-stretch: normal;
	font-style: italic;
	src: url('WOFF2/JasperIosevka-HeavyItalic.woff2') format('woff2'), url('TTF/JasperIosevka-HeavyItalic.ttf') format('truetype');
}
